#LHS-TradeJournal {
  display: grid;
  grid-template-rows: 15% 1fr;
  height: 100%;
}

#LHS-TradeFilterControls {
  background-color: gray;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

#TradeAndSelectedTradeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#TradeFilterSortContainer {
  border: 1px solid white;
  margin-bottom: 1rem;
}

#TradeFilterSortContainer {
  border-radius: 10px;
}

#SortResultHeaders {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-size: var(--fs-200);
  background-color: rgb(0, 1, 61);
  height: 40px;
  align-items: center;
  justify-items: center;
  padding-inline: 2rem;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#TradeResults {
  border-bottom-left-radius: 10px;
  height: 500px;
  overflow-y: scroll;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.226);
}

.singleTradeResult {
  font-size: var(--fs-100);
  background-color: rgba(3, 0, 32, 0.479);
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 50px;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-items: center;
}

.selectedTradeHighLite {
  border: 2px solid red;
}

.TradeStatsSelectedSection {
  flex: 1;
  border: 1px solid white;
  background-color: rgba(128, 128, 128, 0.226);
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
}

#LHS-TradeJournalSelectedTradeDisplay {
  display: grid;
  grid-template-columns: 40% 1fr;
}

#LHS-TradeStats {
  display: grid;
}
