#LHS-TradeJournal {
  display: grid;
  grid-template-rows: 15% 650px 1fr;
  height: 100%;
}

#LHS-TradeFilterControls {
  background-color: gray;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
#TradeFilterSortContainer {
  border: 1px solid white;
  margin-bottom: 1rem;
}

#TradeAndSelectedTradeContainer {
}

#SortResultHeaders {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: var(--fs-200);
  gap: 0.5rem;
  background-color: rgb(0, 1, 61);
}

#TradeResults {
  height: 500px;
  overflow-y: scroll;
  padding: 1rem;
  background-color: blue;
  background-color: rgba(128, 128, 128, 0.226);
}

.singleTradeResult {
  font-size: var(--fs-100);
  background-color: rgba(3, 0, 32, 0.479);
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 350px 1fr;
  height: 50px;
  padding-inline: 1rem;
  align-items: center;
  border-radius: 5px;
  justify-items: center;
}

.selectedTradeHighLite {
  border: 2px solid red;
}
