.paginationFirstLast {
  width: 250px;
}

.paginationFirstLast > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}
.paginationFirstLast > ul li {
  list-style: none;
}

.active {
  text-decoration: underline;
}
