#MessageNewsCenterSection {
  display: grid;
  grid-template-rows: 30px 275px 50px;
}

#MessageNewsCenterSection > div:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 1rem;
  background-color: #000000;
}

.messageCenterContent {
  background-color: rgb(44, 42, 42);
  padding: 1rem 0.5rem;
}
