#DiscountAndReview {
  display: grid;
  grid-template-rows: 35% 1fr;
  gap: 1rem;
  text-align: center;
}

.SingleDiscountAlert {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 30px;
  text-align: center;
  align-items: center;
  font-size: var(--fs-200);
}

.SingleDiscountAlert {
  margin: 5px;
  padding-inline: 5px;
  background-color: rgb(97, 122, 122);
  border-radius: 5px;
}

#DeepDiscountAlertHUD > div:first-of-type {
  background-color: rgb(54, 39, 27);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#DeepDiscountAlertHUD,
#DiscountReviewStatus {
  background-color: rgb(64, 64, 73);
  border-radius: 10px;
}

.singleDeepDiscountStatus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.singleDeepDiscountStatus {
  font-size: var(--fs-100);
  padding-block: 0.25rem;
}

#DeepDiscountStatusList div:nth-child(odd) {
  background-color: rgb(50, 52, 53);
}

.singleDeepDiscountStatus:hover {
  cursor: pointer; /* Changes the mouse arrow to a clickable hand icon */
}

#DiscountReviewStatus > div:first-of-type {
  background-color: rgb(190, 39, 39);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer; /* Changes the mouse arrow to a clickable hand icon */
}

#DeepDiscountStatusList {
  overflow-y: scroll;
  max-height: 475px;
}

.mutedAlert {
}

.unmutedAlert {
  animation: slowPulse 2s ease-in-out infinite;
}

@keyframes slowPulse {
  0% {
    opacity: 1;
    background-color: rgb(1, 153, 9);
  }
  50% {
    opacity: 0.9; /* Optional: slightly fades out */
    background-color: rgb(27, 82, 30);
  }
  100% {
    opacity: 1;
    background-color: rgb(1, 153, 9);
  }
}

#HighImportanceReview {
  background-color: rgb(64, 64, 73);
  border-radius: 10px;
}

#HighImportanceReview > div:first-child {
  background-color: rgb(16, 16, 138);
  border-radius: 10px 10px 0 0;
  color: orange;
  
}

#HighImportanceReview > div:last-child {
  overflow-y: scroll;
  max-height: 475px;
  height: 100%;
}

#HighImportanceReview > div:last-child > div:nth-child(odd) {
  background-color: rgb(50, 52, 53);
}
#HighImportanceReview > div:last-child > div:nth-child(even) {
  background-color: rgb(83, 87, 88);
}

.singleHighImportance {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  font-size: var(--fs-200);
}

.singleConfirmHighImportRemoval {
  display: flex;
  font-size: var(--fs-200);
  text-align: center;
  justify-content: space-around;
}
