.LSH-FourWaySplitContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.LSH-FourWaySplitContainer .SVGGraphWrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.LSH-4WayGraphHeader {
  padding-inline: 1rem;
  display: flex;
  height: 35px;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
