#BestPositionSplitContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#BestPositionSplitContainer > div {
  border-radius: 10px;
  padding: 1rem;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
}

#BestPositionSplitContainer > div > div {
  background-color: purple;
}

#PreTradePositionSplitContainer {
  width: 100%;
  height: 100%;
}
#PreTradePositionSplitContainer > div:first-of-type {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-100);
  background-color: rgb(57, 57, 85);
}

#rvrChartWrapper {
  flex: 1;
}
#rvrChartWrapper svg {
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 54);
}
#rvrChartWrapper svg .yAxis,
#rvrChartWrapper svg .xAxis {
  fill: rgb(32, 32, 54);
}

#TradePositionSplitContainer {
}
