#BestPositionSplitContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#BestPositionSplitContainer div:first-child,
#BestPositionSplitContainer div:last-child {
  border-radius: 10px;
}
#BestPositionSplitContainer > div {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.PreTradePositionSplitContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 54);
  border: 1px solid white;
}

.PreTradePositionSplitContainer > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-100);
  padding-block: 0.5rem;
}

.PositionGraphWithLeftRightText {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  height: 100%;
  width: 100%;
  padding-inline: 0.5rem;
}
.PositionGraphWithLeftRightText p:first-of-type {
  align-self: center;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-orientation: sideways-right;
}
.PositionGraphWithLeftRightText p:last-of-type {
  align-self: center;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.positionChartWrapper {
  flex: 1;
}
.positionChartWrapper svg {
  width: 100%;
  height: 100%;
}
.positionChartWrapper svg .yAxis,
.positionChartWrapper svg .xAxis {
  fill: rgb(32, 32, 54);
}

.PreTradePositionListController {
  padding: 1rem;
  padding-left: 0.5rem;
  gap: 0.5rem;
}

.ListOfTickersForBestPosition {
  font-size: var(--fs-100);
  flex: 1;
  height: 400px;
  overflow-y: scroll;
  background-color: rgb(66, 66, 90);
}

.BestPositionDataRow,
.BestPositionListTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
