#BestPositionSplitContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#BestPositionSplitContainer div {
  border-radius: 10px;
}
#BestPositionSplitContainer > div {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
}

#BestPositionSplitContainer > div > div {
  background-color: rgb(36, 33, 65);
}

.PreTradePositionSplitContainer {
  width: 100%;
  height: 100%;
}

.PreTradePositionSplitContainer > div:first-of-type {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-100);
  background-color: rgb(57, 57, 85);
}

.positionChartWrapper {
  flex: 1;
}
.positionChartWrapper svg {
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 54);
}
.positionChartWrapper svg .yAxis,
.positionChartWrapper svg .xAxis {
  fill: rgb(32, 32, 54);
}

#TradePositionSplitContainer {
}
