#BestPositionSplitContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#BestPositionSplitContainer > div {
  border-radius: 10px;
  padding: 1rem;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
}

#BestPositionSplitContainer > div > div {
  background-color: purple;
}

#PreTradePositionSplitContainer > div {
}

#TradePositionSplitContainer {
}
