#LHS-ConfirmMarketSearchContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 75px 1fr 75px;
  gap: 1rem;
}
.ConfirmMarketNavBtns {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  color: white;
  background-color: rgb(13, 29, 59);
  height: 66%;
  margin-block: auto;
  cursor: pointer;
}
.ConfirmMarketNavBtns:disabled {
  cursor: not-allowed;
  background-color: rgb(53, 53, 54);
}

#LHS-UserUnconfirmedPatternResults {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

#LHS-UnconfirmedReviewBar {
  display: flex;
  background-color: rgb(55, 55, 59);
  height: 3rem;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

#SubmitConfirmationWindow {
  position: absolute;
  top: 12.5%;
  left: 5%;
  height: 75%;
  width: 90%;
  background-color: gray;
  z-index: 100;
  padding: 1rem;
  border-radius: 15px;
}

#SubmitConfirmationWindow > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ConfirmationList {
  display: flex;
  flex-direction: column;
}
.ConfirmationList div {
  height: 400px;
  background-color: blue;
  overflow-y: scroll;
}

#UnconfirmedPatternTickerResults {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.UnconfirmedPatternBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
}

.StockInfoBlock {
  display: flex;
  gap: 1rem;
  background-color: rgb(0, 36, 70);
  height: 3rem;
  font-size: var(--fs-200);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 1rem;
  align-items: center;
}

.UnconfirmedKeepRemoveDialog {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.274);
}

.keepConfirmed {
  background-color: rgba(0, 0, 255, 0.548);
}

.removeConfirmed {
  background-color: rgba(255, 0, 0, 0.445);
}

.UnconfirmedPatternBlock .SVGGraphWrapper {
  background-color: rgba(255, 0, 0, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
