#LHS-ConfirmMarketSearchContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 75px 1fr 75px;
}

#LHS-UserUnconfirmedPatternResults {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

#SubmitWindow {
  position: absolute;
  top: 12.5%;
  left: 5%;
  height: 75%;
  width: 90%;
  background-color: gray;
  z-index: 100;
  padding: 1rem;
  border-radius: 15px;
}

#UnconfirmedPatternTickerResults {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.UnconfirmedPatternBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.StockInfoBlock {
  display: flex;
  gap: 1rem;
  background-color: rgb(0, 36, 70);
  height: 3rem;
  font-size: var(--fs-200);
}

.UnconfirmedKeepRemoveDialog {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.274);
}

.keepConfirmed {
  background-color: rgba(0, 0, 255, 0.548);
}

.removeConfirmed {
  background-color: rgba(255, 0, 0, 0.445);
}
