.ChartMenuBarContainer {
  position: relative;
  width: 100%;
  background-color: gray;
  padding-inline: 1rem;
  height: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.MenuBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.studySelectOverlay {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 56;
  background-color: rgba(128, 128, 128, 0.123);
  top: 2rem;
  left: 0;
}

.LSH-StudySelectPopover {
  position: absolute;
  width: 400px;
  height: 300px;
  z-index: 60;
  background-color: rgb(46, 46, 51);
  border-radius: 10px;
  padding: 1rem;
  bottom: 50%; /* Moves the top edge to the vertical midpoint of the parent */
  left: 50%; /* Moves the left edge to the horizontal midpoint of the parent */
  transform: translate(-50%, 50%);
}

.LSH-StudySelectPopover fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.LSH-StudySelectPopover input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.LSH-StudySelectPopover label {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

.LSH-StudySelectPopover input[type="checkbox"]:checked + label {
  background-color: #4caf50; /* A different color when checked */
}

.LSH-StudySelectPopover label:hover {
  background-color: #e0e0e0;
}
