.ChartSubContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ChartTimeFrameBar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.ChartMenuBar {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: x-small;
  background-color: rgb(61, 8, 8);
  position: relative;
}

.SubChartSelectionDropDown {
  position: absolute;
}

.ChartGraphWrapper {
  flex: 1;
}

.SVGGraphWrapper svg {
  height: 100%;
  width: 100%;
}

.SVGGraphWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(28, 27, 29);
}

.priceSVGWrapper {
  width: 50px;
  height: 100%;
}

.dateSVGWrapper {
  flex: 1;
}

.SubChartWrapper {
  height: auto;
}

.SubChartContainer {
  background-color: rgb(161, 135, 103);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subChartGraph {
  flex: 1;
  display: flex;
  width: 100%;
  min-height: 75px;
  max-height: 125px;
}
.subChartYAxis {
  background-color: aquamarine;
  width: 50px;
}
.subChartXAxis {
  flex: 1;
  background-color: blue;
}
