.ChartSubContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ChartTimeFrameBar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.TimeFrameDropDown {
  position: relative;
}
.ChartTimeFrameDropDownSelect {
  position: absolute;
  z-index: 99;
  height: 200px;
  width: 200px;
  right: 0px;
  background-color: rgb(85, 85, 85);
  font-size: var(--fs-200);
}

.PreDefinedTimeFrameRadioButtons {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.PreDefinedTimeFrameRadioButtons label {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  background-color: #4d4747;
}

/* Optional: Add a different style when the input is checked */
.PreDefinedTimeFrameRadioButtons input:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.ChartMenuBar {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: x-small;
  background-color: rgb(61, 8, 8);
  position: relative;
}

.SubChartSelectionDropDown {
  position: absolute;
}

.ChartGraphWrapper {
  flex: 1;
}

.SVGGraphWrapper svg {
  height: 100%;
  width: 100%;
}

.SVGGraphWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(28, 27, 29);
}

.priceSVGWrapper {
  width: 50px;
  height: 100%;
}

.dateSVGWrapper {
  flex: 1;
}

.SubChartWrapper {
  height: auto;
}

.SubChartContainer {
  background-color: rgb(161, 135, 103);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subChartGraph {
  flex: 1;
  display: flex;
  width: 100%;
  min-height: 75px;
  max-height: 125px;
}
.subChartYAxis {
  background-color: aquamarine;
  width: 50px;
}
.subChartXAxis {
  flex: 1;
  background-color: blue;
}
