#PlanStatusHUD {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#PlanStatusHUD p {
  font-size: var(--fs-100);
}

.IntegratedChartWrapper {
  display: flex;
  flex-direction: column;
}
