#IntegratedPlanViewPage {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
}

#PlanChartAndActions {
  display: grid;
  grid-template-columns: 1fr 30%;
}

#ExpandedPlan {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 10% 1fr;
}

#PlanChartAndActions > div:last-of-type {
  padding: 10px;
  background: #111219;
}

#ExpandedPlan > div:first-child {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-100);
  justify-content: space-around;
  background-color: gray;
  padding-left: 10px;
  padding-block: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid black;
}

#ExpandedPlan > div:first-child .selectedExpand {
  background-color: rgb(22, 50, 82);
  color: #00ffff;
  border-left: 2px solid #00ffff;
  border-top: 2px solid #00ffff;
  border-bottom: 2px solid #00ffff;
}

#ExpandedPlan > div:first-child button {
  border: none;
  height: 40px;
  background-color: rgba(43, 44, 48, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}
#ExpandedPlan > div:first-child button:hover {
  background-color: rgba(22, 23, 27, 0.5);
}

#ExpandedPlan > div:last-child {
  background-color: rgb(36, 36, 37);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
