#LSH-MacroKeyValueInput {
  border: 1px solid white;
  background-color: rgb(50, 50, 66);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#LSH-MacroKeyValueInput > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.LSH-SelectedStockKeyLevelInput {
  flex: 1;
  font-size: var(--fs-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.LSH-SelectedStockKeyLevelInput input {
  width: 75px;
}

.DailyWeeklyMonthlySelectionButtons {
  display: flex;
  gap: 1rem;
  height: min-content;
}
.DailyWeeklyMonthlySelectionButtons button {
  background-color: rgb(39, 39, 219);
  border: none;
  border-radius: 5px;
}

.DailyWeeklyMonthlySelectionButtons .macroTimeFrameSelected {
  background-color: green;
}

#GammaCallPut {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#KeyDailyFormInputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#KeyDailyFormInputs > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#KeyDailyFormInputs fieldset {
  background-color: rgb(23, 23, 26);
  border-radius: 10px;
  padding: 1rem;
}

#zeroDTEInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
