#LSH-FourGraphSplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80%;
  gap: 1rem;
}

#LSH-FourGraphSplit > div {
  background-color: rgb(38, 48, 58);
}
