#LSH-PlanViabilityStatus {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  position: relative;
  background-color: rgb(57, 57, 59);
  border: 1px solid white;
  padding-inline: 1rem;
  border-radius: 10px;
}

#LSH-ViabilityActionBar {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  gap: 4rem;
  padding: 1rem;
  font-size: var(--fs-200);
}
#LSH-ViabilityActionBar > div {
  display: flex;
  justify-content: space-around;
}

#PlanViabilityChartsWrapper {
  display: grid;
  height: 1050px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  gap: 1rem;
  padding-bottom: 1rem;
}

.SingleViabilityChartBlock {
  height: 300px;
  background-color: rgb(15, 15, 95);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.SingleViabilityChartBlock > div:first-child {
  flex: 1;
}
.SingleViabilityChartBlock > div:first-child > div {
  height: 100%;
}

.SingleViabilityChartBlock > div:first-child div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.SingleViabilityChartBlock > div:first-child svg {
  border-radius: 10px;
}

#PlanViabilityChartsWrapper .setForRemoval div {
  background-color: rgb(66, 8, 8);
}

.LSH-ViabilityUpdateListUnderLay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(43, 43, 43, 0.377);
  z-index: 99;
}
.LSH-ViabilityUpdateList {
  position: absolute;
  z-index: 100;
  height: 50%;
  width: 50%;
  background-color: rgb(78, 78, 78);
  left: 25%;
  top: 25%;
  padding: 1rem;
  border-radius: 10px;
}

.SingleViabilityChartBlockTitle {
  font-size: var(--fs-100);
  height: 2rem;
  display: flex;
  padding-inline: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

.selectedPlanList {
  background-color: blue;
}
