#LSH-PlanViabilityStatus {
  display: grid;
  grid-template-rows: 1fr 1000px;
  height: 100%;
  gap: 1rem;
  position: relative;
  background-color: gray;
  padding-inline: 1rem;
}

#PlanViabilityChartsWrapper {
  display: grid;
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  gap: 1rem;
}

.SingleViabilityChartBlock {
  height: 300px;
  background-color: blue;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  font-size: var(--fs-100);
}
.SingleViabilityChartBlock > div:first-child {
  flex: 1;
}
.SingleViabilityChartBlock > div:first-child > div {
  height: 100%;
}

.SingleViabilityChartBlock > div:first-child div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.SingleViabilityChartBlock > div:first-child svg {
  border-radius: 10px;
}

#PlanViabilityChartsWrapper .setForRemoval div {
  background-color: rgb(66, 8, 8);
}

#LSH-ViabilityRemoveList {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: black;
}
