#DeepDiscount {
  display: grid;
  grid-template-rows: 1fr 250px 100px;
  height: 100%;
  gap: 1rem;
}

#CurrentChartAndBackTest {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#CurrentChartAndBackTest > div:first-of-type {
  background-color: gray;
  padding-inline: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#CurrentChartAndBackTest > div:nth-of-type(2) {
  flex: 1;
  margin-bottom: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#CurrentDeepDiscountBuild {
  font-size: var(--fs-100);
  display: grid;
  grid-template-columns: 20% 1fr 10%;
  gap: 0.5rem;
  height: 100%;
  padding: 0.5rem;
}







#DiscountActionControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#DiscountActionControls > form {
  display: flex;
  flex-direction: column;
}

#DiscountActionControls > form input {
  width: 50px;
  text-align: center;
  height: 30px;
}

#DeepDiscountParams {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#DiscountSelectionButtons {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(54, 56, 82);
}

.pulsingNeedMarkedReviewed {
  /* border: 5px solid white; */
  border-radius: 10px;
  background-color: rgb(1, 153, 9);
  animation: slowPulse 3s ease-in-out infinite;
  font-size: var(--fs-100);
}

@keyframes slowPulse {
  0% {
    opacity: 1;
    background-color: rgb(1, 153, 9);
  }
  50% {
    opacity: 0.9; /* Optional: slightly fades out */
    background-color: rgb(27, 82, 30);
  }
  100% {
    opacity: 1;
    background-color: rgb(1, 153, 9);
  }
}
