.newsMessageFlexDisplay {
  display: grid;
  grid-template-rows: min-content 1fr;
  font-size: var(--fs-200);
}

.newsMessageFlexDisplay > div:first-of-type {
  background-color: rgb(83, 83, 92);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#NewsCenterDisplayNav {
  padding-inline: 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: rgb(130, 130, 136);
  height: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newsMessageFlexDisplay > div:last-of-type {
  padding: 0.5rem;
  border-top: 1px solid white;
}

.IncomingNewsFeed {
  height: 275px;
  overflow-y: scroll;
}

.singleNewsArticle {
  display: grid;

  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid rgb(146, 146, 146);
  padding: 0.5rem;
  background-color: rgb(23, 23, 43);
  border-radius: 10
  
  px;
}

.singleNewsArticle p {
  color: rgb(185, 185, 185);
}

.newsFeedOptionSelect {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  padding-inline: 1.5rem;
  align-items: center;
}

.newsFeedOptionSelect select {
  width: 100%;
  height: 1.5rem;
  color: white;
  background-color: rgb(23, 23, 43);
  border: none;
  border-radius: 5px;
}
