#AccountPLInfo {
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 100%;
}

#AccountPLInfo > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

