#AccountPLInfo {
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  height: 100%;
}

#AccountPLInfo > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#PLSummaryList {
  max-height: 225px;
  overflow-y: scroll;
}

.singlePLPosition {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid gray;
}
