#LSH-MacroSection {
  display: flex;
  gap: 1rem;
}

#LSH-MacroWatchLists {
  width: 25%;
  height: 100%;
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
}

#LSH-MacroWatchListContainer {
  padding: 0.5rem;
  flex: 1;
  max-height: 80vh;
  background-color: red;
  overflow-y: auto;
}

#LSH-MacroCharts {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 75%;
}

#LSH-MacroCharts > div {
  background-color: rgb(167, 167, 167);
  height: 100%;
  width: 100%;
}
