#LSH-MacroSection {
  display: flex;
  gap: 1rem;
}

#LSH-MacroWatchLists {
  width: 25%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(134, 134, 134, 0.219);
  display: flex;
  flex-direction: column;
}

#LSH-MacroWatchListContainer {
  flex: 1;
  border-radius: 10px;
  max-height: 85vh;

  padding: 0.25rem;
  background-color: rgba(134, 134, 134, 0.219);
  overflow-y: auto;
}

.LSH-MacroOptionControlButtons {
  display: flex;
  justify-content: space-between;
}
.LSH-MacroOptionControlButtons button {
  background: none;
  border: none;
}

#LSH-MacroCharts {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 75%;
}

#LSH-MacroCharts > div {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.ChartTimeFrameBar {
  background-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#LSH-MacroCharts .ChartGraphWrapper,
#LSH-MacroCharts .SVGGraphWrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.macroSecondarySearchForm {
  margin-top: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  height: 2rem;
  gap: 1rem;
  justify-content: center;
}

.macroSecondarySearchForm input {
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: gray;
}
.macroSecondarySearchForm button {
  border-radius: 5px;
  border: none;
  font-size: var(--fs-200);
}
