#LSH-MacroSection {
  display: flex;
  gap: 1rem;
}

#LSH-MacroWatchLists {
  width: 25%;
  height: 100%;
  background-color: rgba(134, 134, 134, 0.219);
  display: flex;
  flex-direction: column;
}

#LSH-MacroWatchListContainer {
  flex: 1;
  max-height: 80vh;
  padding: 0.25rem;
  background-color: rgba(134, 134, 134, 0.219);
  overflow-y: auto;
}

.LSH-MacroOptionControlButtons {
  display: flex;
  justify-content: space-between;
}
.LSH-MacroOptionControlButtons button {
  background: none;
  border: none;
}

#LSH-MacroCharts {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 75%;
}

#LSH-MacroCharts > div {
  background-color: rgb(167, 167, 167);
  height: 100%;
  width: 100%;
}
