#LayoutContainer {
  padding-inline: 2rem;
  padding-block: 1rem;
  height: 96vh;
}

#DashNav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  background-color: rgb(55, 54, 61);
  width: 100%;
}
