#LHS-MarketSearchContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#LHS-MarketSearchFilterBarClosed {
  position: relative;
  height: 2rem;
  background-color: rgb(105, 105, 105);
  width: 100%;
  border-radius: 10px;
  align-items: center;
  padding-inline: 1rem;
  display: flex;
}

#LHS-MarketSearchFilterBarOpen {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: rgb(122, 122, 122);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 25% min-content;
  gap: 1rem;
  z-index: 100;
}

#LHS-FilterOptions {
  background-color: rgb(46, 46, 46);
}

#LHS-UserSavedFilters {
  font-size: var(--fs-200);
}

#LHS-MarketSearchResultContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  gap: 1rem;
}

#LHS-MarketSearchResultBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#LHS-MarketSearchResultError {
  display: flex;
  align-items: center;

  justify-content: center;
}

.LHS-MarketSearchResultGraphWrapper {
  font-size: var(--fs-200);
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.LHS-MarketSearchResultGraphWrapper .ChartGraphWrapper div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.MarketSearchResultInfoBar {
  padding: 1rem;
  background-color: rgb(82, 81, 81);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.MarketSearchHighVol {
  background-color: green;
  padding: 3px;
  border-radius: 5px;
}
.MarketSearchLowVol {
  background-color: red;
  padding: 3px;
  border-radius: 5px;
}

#LHS-MarketSearchPageControl {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  position: relative;
}

#MarketSearchPatternFoundPopover {
  position: absolute;
  height: 300px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(102, 102, 102);
}

.MarketSearchNoCandleData {
  display: flex;
  justify-content: center;
  background-color: rgba(18, 24, 56, 0.459);
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.MarketSearchNoCandleData p {
  align-self: center;
}
