.LSH-WatchListWrapper {
  padding-bottom: 0.25rem;
}

.LSH-WatchListTitle {
  display: flex;
  padding-inline: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: turquoise;
}

.LSH-WatchListTitle > button {
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  padding: 0;
}

.LSH-WatchListTickerOpen {
  padding-top: 0.25rem;

  background-color: rgb(56, 56, 56);
  margin-bottom: 0.2rem;
}

.LSH-SingleTickerTitle {
  padding-inline: 5px;
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 16px 1fr 1fr 1fr 16px;
  font-size: var(--fs-200);
  color: green;
}
.everyOther {
  background-color: rgb(17, 17, 17);
}

.LSH-SingleTickerTitle > button {
  padding: 0;
  background: none;
  border: none;
  width: 16px;
  height: 16px;
}

.LSH-WatchListAddTickerForm {
  padding-inline: 0.5rem;
}
.LSH-WatchListAddTickerForm > input {
  height: 1.125rem;
  background-color: rgb(24, 24, 24);
  border: none;
  width: 100%;
  color: white;
  text-align: center;
  font-size: var(--fs-200);
  border-radius: 25px;
}
