#LHS-SingleGraphForCharting {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#LHS-SingleGraphMenuBar {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#LHS-SingleGraphForChartingWrapper {
  flex: 1;
  background-color: rgb(63, 63, 63);
}

#LHS-SingleChartControls {
  margin-top: 1rem;
  height: 20%;
}
