#LHS-SingleGraphForCharting {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}

#LHS-SingleGraphMenuBar {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.IntraDayTimeFrameBtns {
  font-size: var(--fs-200);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr; /* Forces all columns to be equal */
  gap: 10px;
  width: max-content;
}

.IntraDayTimeFrameBtns button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(40, 46, 71);
  color: white;
}

.SingleChartModalUnderlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(59, 59, 59, 0.363);
}

.LHS-SingleChartModal {
  position: absolute;
  top: 10%;
  left: 12.5%;
  width: 75%;
  height: 50%;
  background-color: rgb(143, 143, 150);
  border-radius: 15px;
  padding: 1rem;
}

#LHS-SingleGraphForChartingWrapper {
  flex: 1;
  display: flex;
  background-color: rgb(22, 22, 22);
}

#LHS-SingleGraphToolBar {
  width: 35px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: 1rem;
  justify-items: center;
  align-items: center;
}

#LHS-SingleGraphToolBar button {
  background: none;
  border: none;
  cursor: pointer;
}

#LHS-SingleChartControls {
  height: 20%;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 1rem;
}

.currentTool {
  color: white;
}

.notCurrentTool {
  color: gray;
}

.veryTinyText {
  font-size: 11px;
  margin-bottom: 0.25rem;
  text-align: center;
}

#LHS-UnChartedNavigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  border-left: 1px solid white;
  padding: 1rem;
}

.buttonIcon {
  border: none;
  background: none;
}

#LHS-UnChartedNavigation div {
  font-size: var(--fs-200);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}
