#StockInfoPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

#NewsPanel {
  font-size: var(--fs-100);
  overflow-y: scroll;
}

#LHS-UnchartedProgressDisplay {
  height: 200px;
  overflow-y: scroll;
}
