#LSH-PreTradeWatchAsList > div {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* Title Block */
#LSH-PreTradeWatchAsList > div > div:first-child {
  font-size: var(--fs-300);
  height: 2rem;
  background-color: rgb(101, 111, 131);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.25rem;
  padding-inline: 0.75rem;
  display: flex;
  justify-content: space-between;
}

#LSH-PreTradeWatchAsList > div > div:last-child {
  height: 100%;
  overflow-y: scroll;
  font-size: var(--fs-100);
}

.PreWatchListContainersEveryOther > div:nth-child(odd) {
  background-color: rgb(29, 42, 54);
}

.PreWatchListContainersEveryOther > div:nth-child(even) {
  background-color: rgb(48, 54, 65);
}

.SingleWatchListTicker {
  padding-inline: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 1.25rem;
}

.SingleTickerDiagram {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  height: 2rem;
  padding-inline: 0.5rem;
  align-items: center;
}
.SingleTickerDiagram > div:last-child {
  display: flex;
  gap: 0.25rem;
}

.updateTicker {
  font-size: large;
}

#LSH-PreTradeWatchAsList .blinkForListUpdate {
  background-color: red;
  animation: belowStopLoss 0.5s infinite;
}

@keyframes belowStopLoss {
  0% {
    background-color: rgba(255, 0, 0, 0.05);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.25);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.05);
  }
}

.trackingPositive {
  color: rgb(25, 212, 25);
}

.trackingNegative {
  color: red;
}

.trackingNeutral {
  color: rgb(221, 221, 221);
}

#LSH-PreWatchPlanList {
  position: relative;
  width: 100%;
}

.WatchListSectorSelect {
  top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
}

.WatchListSectorSelect select {
  width: 100%;
  color: white;
  border: none;
  background-color: rgb(11, 11, 71);
}
