#ChartContextMenuOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -0.5rem;
  background-color: rgba(128, 128, 128, 0.356);
}

#ChartContextMenuContainer {
  position: absolute;
  z-index: 100;
  background-color: rgb(56, 31, 31);
  padding: 1rem;
  border-radius: 10px;
}
