#MessageNewsCenterSection {
  background-color: gray;
  display: grid;
  grid-template-columns: 20px 1fr;
  padding: 0.5rem;
  border-radius: 10px;
}
#SpreadOfSectors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  overflow-y: scroll;
}
#SpreadOfSectors div {
  background-color: blue;
}
