#PreWatchManyChartsWrapper {
  display: grid;
  height: 1050px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  gap: 1rem;
  padding-bottom: 1rem;
}

.SinglePreWatchChartBlock {
  height: 300px;
  background-color: rgb(15, 15, 95);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.SinglePreWatchChartBlock > div:first-child {
  flex: 1;
}
.SinglePreWatchChartBlock > div:first-child > div {
  height: 100%;
}

.SinglePreWatchChartBlock > div:first-child div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.SinglePreWatchChartBlock > div:first-child svg {
  border-radius: 10px;
}

.PreWatchChartBlockTitle {
  font-size: var(--fs-100);
  height: 2rem;
  display: flex;
  padding-inline: 0.5rem;
  align-items: center;
  justify-content: space-around;
}
