#TradeDetailsSection {
  padding: 1rem;
}

#CurrentTradeStats {
  display: grid;
  grid-template-columns: 60% 1fr;
}

.TradeAlreadyExists {
  display: grid;
  grid-template-rows: 1fr 20px;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.AlterOrCloseOutBtnChoice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(141, 141, 145);
  width: 125px;
}

.leftBtnChoice {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 26px;
  border: none;
}
.rightBtnChoice {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  height: 26px;
  width: 100%;
}

.ActionChosen {
  background-color: green;
}
