#MacroConditionVisuals {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  gap: 0.5rem;
}

.singleMacroCondition {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.MacroConditionDiagramWrapper {
  height: 125px;
}

.MacroConditionDiagramWrapper svg {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
