#StockDetailSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#StockDetailSection nav {
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

#StockDetailSection nav button {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(128, 128, 128, 0.493);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
