#LHS-ConfirmedStockStatusContainer {
  padding: 1rem;
  display: grid;
  grid-template-rows: 300px 1fr;
  gap: 1rem;
}

#LHS-StatusTableControl {
}
#LHS-ConfirmedStatusTable {
}

.ShowOnlySelectedStatus {
  gap: 2rem;
  display: flex;
}

.ShowOnlyAddedWithin {
  display: flex;
  gap: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ShowOnlyRadioBtn label {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  background-color: #4d4747;
}

/* Optional: Add a different style when the input is checked */
.ShowOnlyRadioBtn input:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
