.chartVisibilityDropDown {
  position: absolute;
  z-index: 99;
  top: 2rem;
  left: 20%;
  width: 60%;
  height: 300px;
  background-color: blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
