.DateFocusDropDownUnderlay {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  background-color: rgba(68, 68, 68, 0.11);
  z-index: 98;
}

.DateFocusDropDown {
  background-color: rgb(7, 10, 59);
  border: 1px solid white;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 0px;
  top: 2rem;
  width: 25%;
  position: absolute;
  z-index: 99;
  gap: 0.5rem;
  font-size: var(--fs-100);
  display: flex;
  justify-content: center;
}

.DateFocusDropDown fieldset {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  border: none;
}
