.studySelectOverlay {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.041);
}

.LSH-StudySelectPopover {
  position: absolute;
  z-index: 99;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  background-color: blue;
}
