#LHS-PlanStatusView {
  display: grid;
  grid-template-rows: 15% 650px 1fr;

  height: 100%;
}

#LHS-PlanStatusFilterControl {
  font-size: var(--fs-100);
  background-color: gray;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#LHS-PlanStatusFilterControl fieldset {
  display: flex;
  gap: 1rem;
  border: none;
}
.hiddenRadioInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.clickableLabel {
  padding: 10px 20px;
  background: #2d2e35;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.hiddenRadioInput:checked + .clickableLabel {
  background: #0b5099;
  color: white;
}

#LHS-PlanDisplays {
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
#LHS-PlanDisplays > div {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 350px 1fr;
}

#LHS-PlanColumn {
  display: grid;
  height: 40px;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-inline: 0.5rem;
  justify-items: center;
  padding-inline: 1rem;
  background-color: rgb(0, 1, 61);
}

#LHS-PlanResults {
  padding-inline: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 600px;
  background-color: rgba(128, 128, 128, 0.226);
  overflow-y: scroll;
  padding-top: 0.5rem;
}

#LHS-PlanDetailsAndChart {
  display: grid;
  grid-template-columns: 40% 40% 1fr;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}

#LHS-NoPlanSelected {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 10px;
}

.LHS-SinglePlanResult {
  font-size: var(--fs-100);
  background-color: rgba(3, 0, 32, 0.479);
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 350px 1fr;
  height: 50px;
  padding-inline: 1rem;
  align-items: center;
  border-radius: 5px;
  justify-items: center;
  text-align: center;
}
.highLightForSelectedPlan {
  border: 2px solid red;
}
.LHS-SinglePlanResult > .HorizontalPlanSVGWrapper {
  width: 325px;
  height: 30px;
}

.LHS-SinglePlanResult > .HorizontalPlanSVGWrapper svg {
  background-color: rgb(177, 177, 177);
  height: 100%;
  width: 100%;
}

#LHS-SelectedPlanChartContainer {
  height: 100%;
  border-radius: 10px;
}
#LHS-SelectedPlanChartContainer div {
  height: 100%;
}
#LHS-SelectedPlanChartContainer svg {
  border-radius: 10xpx;
}

#LHS-SelectedPlanDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#LHS-SelectedPlanDetails div {
  justify-items: center;
  font-size: var(--fs-200);
}

#LHS-SelectedPlanDetails > div:last-of-type {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.wayOverPlan {
  color: rgb(255, 72, 0);
}

.planStillInPlay {
  color: green;
}
