#PreTradeInitiator {
  display: grid;
  grid-template-columns: 3rem 1fr 175px;
  gap: 1rem;
  height: 100%;
}

#PreTradeDetailContent {
  padding: 1rem;
  font-size: var(--fs-300);
}

#RecordTradeForm {
  padding: 1rem;
  background-color: rgb(20, 20, 75);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: var(--fs-100);
}
#RecordTradeForm input {
  width: 125px;
  border-radius: 5px;
  border: none;
}

#PreTradeMenuChoice {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 75);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#TradeSupportingTickersSplit {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#CompanyInformation {
}

#PreTradePlanExamine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#ToMakeXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXShares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}
