#CompanyInformation{

}

#PreTradePlanExamine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#ToMakeXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXShares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}
