#PreTradeInitiator {
  display: grid;
  grid-template-columns: 3rem 1fr 175px;
  gap: 1rem;
  height: 100%;
}

#PreTradeDetailContent {
  padding: 1rem;
  font-size: var(--fs-300);
}



#TradeSupportingTickersSplit {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#CompanyInformation {
}

#PreTradePlanExamine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#ToMakeXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

#WithXShares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}
