#LHS-SyncWithBackendVisual {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(44, 44, 53, 0.281);
}
