.GraphLoadingError {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 2rem;
}
.GraphLoadingError button {
  width: 30%;
  height: 20%;
  border-radius: 10px;
}

.GraphLoadingSpinner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 2rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey track */
  border-top: 5px solid #084066; /* Blue spinning part */
  border-radius: 50%; /* Makes it circular */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
