/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  background-color: hsl(230, 51%, 10%);
  --clr-dark: 230 51% 10%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-chartBackDrop: 85, 85, 99;
  --clr-chartHeader: 58, 58, 63;
  --clr-chartFooter: 58, 58, 63;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  overflow-y: hidden;
}
.orangeFont {
  color: orange;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
text,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flexJustEven {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: space-evenly;
}

.flexJustAround {
  display: flex;
  justify-content: space-around;
}

.flexAlignCenter {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}

.buttonSVGGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.buttonSVGGrid svg {
  height: 1rem;
  width: auto;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.capitalize {
  text-transform: capitalize;
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* For Chrome, Safari, Opera, and other WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.iconButton svg {
  display: block;
}

.buttonIcon {
  border: none;
  background: none;
  display: flex;
}

.fieldSetWithTabs {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  border: none;
  align-items: end;
}

.hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.fieldSetWithTabs label {
  background-color: #202235;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  text-align: center;
  width: max-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-inline: 1px solid rgba(255, 255, 255, 0);
}

.hidden-radio:checked + label {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: #627283;
}

/* Optional: Add a focus state for keyboard users */
.hidden-radio:hover + label {
  background-color: #627283;
}

.hoverRotateOnFetch > svg {
  cursor: pointer;
}

.rotateOnFetch > svg {
  stroke: rgb(0, 81, 255);
  animation: spin-refresh 1s linear infinite;
}

.hoverRotateOnFetch > svg:hover {
  stroke: rgb(0, 81, 255);
}

@keyframes spin-refresh {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
