#LHS-TradeRecord {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 20%;
}

#LHS-TradeChartWrapper {
  display: flex;
  height: 100%;
  margin-bottom: 1rem;
}
#LHS-TradeChartWrapper .SVGGraphWrapper {
  border-bottom-left-radius: 10px;
}

#LHS-PlanPresentBeforeTrade {
  height: 20%;
  background: rgb(42, 41, 48);
  border-radius: 10px;
  border: 1px solid white;
}

#TradeDetailAndBuySellOptions {
  display: grid;
  grid-template-columns: 3rem 1fr 175px;
  gap: 1rem;
  height: 100%;
}

.TradeOptions {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#BuyOptions {
  background-color: rgb(31, 53, 22);
}
#SellOptions {
  background-color: rgb(54, 35, 35);
}

#LHS-TradeWrapperChartingTools {
  width: 35px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: 1rem;
  justify-items: center;
  align-items: center;
  background: rgb(28, 29, 41);
  border-bottom-right-radius: 10px;
}

.TradeMenuChoice {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 75);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid rgba(148, 148, 148, 0.438);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.TradeActionExecution {
  background-color: rgb(20, 20, 75);
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: var(--fs-100);
  gap: 1rem;
  border-left: 1px solid rgba(148, 148, 148, 0.438);
}

.RecordTradeForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.RecordTradeForm input {
  width: 125px;
  border-radius: 5px;
  border: none;
}

#TradeRecordedVisual {
  display: flex;
}
