#LHS-TradeRecord {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 20%;
}

#LHS-TradeChartWrapper {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  margin-bottom: 1rem;
}

#LHS-PlanPresentBeforeTrade {
  height: 20%;
  background: rgb(42, 41, 48);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid white;
}

#TradeDetailAndBuySellOptions {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  gap: 1rem;
  height: 100%;
}

#TradeDetailAndBuySellOptions input {
  width: 100px;
}

.TradeOptions {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#BuyOptions {
  background-color: rgb(31, 53, 22);
}
#SellOptions {
  background-color: rgb(54, 35, 35);
}

#LHS-TradeWrapperChartingTools {
  width: 35px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: 1rem;
  justify-items: center;
  align-items: center;
  background: rgb(28, 29, 41);
  border-bottom-right-radius: 10px;
}

#PreTradeInitiator {
  display: grid;
  grid-template-columns: 2rem 85% 1fr;
}

#RecordTradeForm input {
  width: 100%;
}

#PreTradeInitiator div:first-of-type {
}

#PreTradeMenuChoice {
  display: flex;
  flex-direction: column;
}

#TradeSupportingTickersSplit {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
